<nav>
  <ul>
    <li><a routerLink="/admin/language-management" routerLinkActive="active">Gerenciar Idiomas</a></li>
    <li><a routerLink="/admin/games-management" >Gerenciar Jogos</a></li>
  </ul>
  <!-- Se não estiver logado -->
  <div *ngIf="!userLoggedIn">
    <button routerLink="/login">Entrar</button>
    <button routerLink="/registro">Registrar</button>
  </div>

  <!-- Se estiver logado -->
  <div *ngIf="userLoggedIn" class="user-menu">
    <button (click)="logout()">
      <img src="Assets/IconeLogado.jpg" alt="Usuário" width="30" />
      </button>
      <span>{{ userEmail }}</span>
  </div>
</nav>
